@import '../../../../styles/common';

.card {
  text-align: left;

  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: $gray;
  }

  .card-value {
    font-size: 3rem;
    font-weight: 500;
    padding: 1.25rem 0;

    span {
      font-size: 1.5rem;
    }
  }
  &.feels-like {
    .card-value {
      display: flex;
      span {
        line-height: 3rem;
        padding-left: 0.5rem;
      }
    }
  }
  &.wind-speed {
    .card-value {
      span {
        line-height: 1;
      }
    }
    .card-sub-value {
      display: flex;
      align-items: center;

      .wind-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 2px solid $gray;
        border-radius: 50%;

        img {
          height: 65%;
          transform-origin: center center;
        }
      }

      .direction {
        padding-left: 0.5rem;
        font-size: 1.125rem;
        height: 23px;
        font-weight: 500;
      }
    }
  }
  &.humidity {
    .card-value {
      display: flex;
      span {
        line-height: 3rem;
        padding-left: 0.5rem;
      }
    }
  }
  &.visibilty {
    .card-value {
      span {
        line-height: 1;
      }
    }
  }
  &.sunrise-sunset {
    .card-value-sm {
      display: flex;
      align-items: center;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
      span {
        font-size: 1.125rem;
        font-weight: 500;
        margin-left: 1rem;
        height: 23px;
      }
    }
  }
}
