$primary: #1A1A1A;
$gray: #bebebe;
$body-bg: #fafafa;
$body-color: $primary;

$theme-colors: (
  "primary": $primary,
);

$font-family-sans-serif: "Zirkel", "Open Sans", Arial, sans-serif;

$h2-font-size:              1.875rem;
$headings-font-weight:      600;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-semibold: 500;

$card-border-width:                 none;
$card-border-radius:                0.75rem;
$card-spacer-y:                     1.5rem;
$card-spacer-x:                     1.5rem;
