// Vendor
@import './vendor/bootstrap';

// Fonts
@import './fonts/fonts';
// @import url('https://fonts./googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Components
@import './components/card';
@import './components/spinner';
