// Vendor
@import './vendor/bootstrap';

// Fonts
@import './fonts/fonts';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Components
@import './components/card';
@import './components/spinner';
