@font-face {
  font-family: 'Zirkel';
  src: url('./../../assets/fonts/zirkel-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Zirkel';
  src: url('./../../assets/fonts/zirkel-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Zirkel';
  src: url('./../../assets/fonts/zirkel-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Zirkel';
  src: url('./../../assets/fonts/zirkel-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Zirkel';
  src: url('./../../assets/fonts/zirkel-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
