@import '../../../../../styles/common';

.date-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0.75rem;

  p {
    margin: 0;
    &.today {
      font-size: 1.75rem;
    }
  }
}

.temperature {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  h1 {
    font-size: 6rem;
    font-weight: $font-weight-light;
  }
  span {
    font-weight: $font-weight-thin;
    line-height: 3;
  }
}
