<table class="table">
  <!-- <tbody>
    <tr *ngFor="let dailyWeather of (weather$ | async)?.daily">
      <th scope="row">{{ dailyWeather.dt | date:'EE' }}</th>
      <td>{{ dailyWeather.weather[0].icon }}</td>
      <td>{{ dailyWeather.temp.min | temperature }}<span>Low</span></td>
      <td>{{ dailyWeather.temp.max | temperature }}<span>High</span></td>
      <td>{{ dailyWeather.wind_speed }} <span>km/h</span></td>
      <td>{{ (dailyWeather.pop * 100) }}% <span>Rain</span></td>
    </tr>
  </tbody> -->
</table>
