<app-spinner-overlay>
  <div class="container">
    <div class="row mt-4 mb-5">
      <app-location-search></app-location-search>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <app-current-temperature></app-current-temperature>
      </div>
      <div class="col-lg-8">
        <app-current-stats></app-current-stats>
      </div>
    </div>

    <div class="todays-weather-info">
      <app-hourly-weather></app-hourly-weather>
    </div>

    <div class="weather-forecast">
      <app-forecast></app-forecast>
    </div>
  </div>
</app-spinner-overlay>
