@import './../../../../../styles/common';

p {
  font-weight: 600;
  font-size: 1.875rem;
}

.card {
  .time {
    font-weight: 500;
  }

  .temperature {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .weather-icon {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0;
  }
}
