@import '../../../../styles/common';

h2 {
  margin-top: 1rem;
}

.card {
  .time {
    font-weight: 500;
  }

  .temperature {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .weather-icon {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0;
  }
}
