@import '../../../../styles/common';

h2 {
  margin-top: 1rem;
}

.forecast-table {
  .forecast-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 1.25rem 0.675rem 1.25rem;
    margin-bottom: 0.5rem;
  }

  .weather-icon {
    height: 2.25rem;
    width: 2.25rem;
  }
}
