@import '../../../../styles/common';

h2 {
  margin-top: 1rem;
}

.forecast-table {
  .forecast-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 1.25rem 0.675rem 1.25rem;
    margin-bottom: 0.5rem;

    .table-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 2;

      &.table-head {
        flex: 1
      }

      h2 {
        font-size: 1.125rem;
        margin: 0;
      }

      span {
        font-size: 0.875rem;
        font-weight: 500;
        color: $gray;
      }
    }
  }

  .weather-icon {
    height: 2.25rem;
    width: 2.25rem;
  }
}
